 /* Add your CSS styles here */
 body {
     margin: 0;
     font-family: Arial, sans-serif;
     color: #333;
 }

 .container {
     width: 90%;
     margin: 0 auto;
 }

 header,
 footer {
     background-color: #51779e;
     /* Primary color */
     color: #fff;
     padding: 16px;
 }

 header .logo,
 footer .logo {
     display: flex;
     align-items: center;
 }

 header .logo svg,
 footer .logo svg {
     margin-right: 8px;
 }

 nav a {
     color: #fff;
     text-decoration: none;
     margin: 0 10px;
 }

 nav a:hover {
     text-decoration: underline;
 }

 .hero-section {
     background-color:#51779e;
     /* Primary color */
     color: #fff;
     padding: 40px 0;
     text-align: center;
 }

 .hero-section img {
     max-width: 100%;
     height: auto;
 }

 .card {
     background-color: #f4f4f4;
     /* Muted color */
     border-radius: 8px;
     padding: 16px;
     margin: 8px;
     text-align: center;
 }

 .card h2 {
     margin: 16px 0;
 }

 .card a {
     display: inline-block;
     background-color: #51779e;
     /* Primary color */
     color: #fff;
     padding: 12px 24px;
     text-decoration: none;
     border-radius: 8px;
 }

 .card a:hover {
     background-color: #51779e;
     /* Darker primary color */
 }

 .recommended-section {
     padding: 40px 0;
     background-color: #f4f4f4;
     /* Muted color */
 }

 .recommended-section img {
     max-width: 100%;
     height: auto;
 }


 /* DROPDOWN TESTING  */

 /* Dropdown Button */
.dropbtn {
    background-color: #51779e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #51779e;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .ansh{ 
    font-family: Anton;
  }